@using Piranha.Models
@model Models.Manager.PageModels.GroupListModel
@{
    Layout = string.Empty;

}
@foreach (SysGroup group in Model.Groups)
{
    <div class="half left">
        <p class="checkbox">
            @{ string cbId = "Page_DisabledGroups_" + group.Name; }
            <input type="checkbox" id="@cbId" name="Page.DisabledGroups" value="@group.Id"
                @(Model.Page.DisabledGroups.Contains(group.Id) ? "checked=checked" : string.Empty) />
            <label for="@cbId">@group.Name</label>
        </p>
    </div>
}