@using Piranha.Resources
@model Models.Manager.TemplateModels.PageEditModel
@{
    ViewBag.Selected = "Settings";
    ViewBag.SelectedTab = "PageType";

}
@section Head {
    <script type="text/javascript" src="@Url.Content("~/Areas/Manager/Content/Js/jquery.template.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Manager/Content/Js/jquery.regiontemplate.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Manager/Content/Js/Ext/json2.js")"> </script>
    <script type="text/javascript">
        /**
         * This var is needed by the regiontemplate script.
         */
        var templateid = '@Model.Template.Id';
    </script>
}
@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li><a class="save submit">@Global.ToolbarSave</a></li>
                <li><a href="@Url.Action("deletepage", new { id = Model.Template.Id })" class="delete" title="">@Global.ToolbarDelete</a></li>
                <li><a href="@Url.Action("pagelist")" class="back">@Global.ToolbarBack</a></li>
                <li><a href="@Url.Action("page", new { id = Model.Template.Id })" class="refresh">@Global.ToolbarReload</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}

@{ Html.BeginForm("page", "template"); }
<div>
    @Html.HiddenFor(m => m.Template.Id)
    @Html.HiddenFor(m => m.Template.IsNew)
    @Html.HiddenFor(m => m.Template.Created)
    @Html.HiddenFor(m => m.Template.Updated)
    @Html.HiddenFor(m => m.Template.CreatedBy)
    @Html.HiddenFor(m => m.Template.UpdatedBy)
</div>
<div class="grid_9">
    <div class="box expandable">
        <div class="title"><h2>@Global.Information</h2></div>
        <div class="inner">
            <ul class="form">
                <li>@Html.LabelFor(m => m.Template.Name)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Template.Name)</div>
                    @Html.ValidationMessageFor(m => m.Template.Name)
                </li>
                <li>@Html.LabelFor(m => m.Template.Description)
                    <div class="input">
                        @Html.TextAreaFor(m => m.Template.Description, new { @placeholder = Global.Optional })</div>
                </li>
            </ul>
            <ul class="form optional">               
                <li>@Html.LabelFor(m => m.Template.Preview)
                    <div class="input">
                        @Html.TextAreaFor(m => m.Template.Preview, new { @rows = 8 })</div>
                </li>                
            </ul>
        </div>
    </div>
    <div class="box content-editor">
        <div class="title"><h2>@Global.Regions</h2></div>
        <div class="inner">
            <table class="list region-editor">
                <tbody>
                    <tr>
                        <th>@Global.Name</th>
                        <th>@Global.InternalId</th>
                        <th>@Global.Type</th>
                        <th></th>
                    </tr>
                    @Html.EditorFor(m => m.Regions)
                    <tr class="dark">
                        <td class="form">
                            <div class="input">
                                <input type="text" id="newregionName" /></div>
                        </td>
                        <td class="form">
                            <div class="input">
                                <input type="text" id="newregionInternalId" /></div>
                        </td>
                        <td class="form">
                            <div class="input">
                                @Html.DropDownList("newregionType", new SelectList(Model.RegionTypes, "Type", "Name"))</div>
                        </td>
                        <td class="buttons four">
                            <button id="btnAddRegion" class="btn marg-big">@Global.Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box">
        <div class="title"><h2>@Global.Advanced</h2></div>
        <div class="inner">
            <ul class="form">
                <li>@Html.LabelFor(m => m.Template.Controller)
                    <div class="right">
                        @Html.CheckBoxFor(m => m.Template.ShowController)</div>
                    <div class="input short">
                        @Html.TextBoxFor(m => m.Template.Controller, new { @placeholder = Global.Optional })</div>
                </li>
                <li>@Html.LabelFor(m => m.Template.Redirect)
                    <div class="right">
                        @Html.CheckBoxFor(m => m.Template.ShowRedirect)</div>
                    <div class="input short">
                        @Html.TextBoxFor(m => m.Template.Redirect, new { @placeholder = Global.Optional })</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="grid_3">
    @if (!Model.Template.IsNew && !string.IsNullOrEmpty(Model.Template.Preview.ToHtmlString()))
    {
        <div class="box pagetemplate">
            <div class="title"><h2>@Resources.Page.HtmlPreview</h2></div>
            <div class="inner">
                <div class="edit">
                    @Model.Template.Preview
                </div>
            </div>
        </div>
    }
    <div class="box">
        <div class="title"><h2>@Global.Properties</h2></div>
        <div class="inner">
            <div id="region_data"></div>
            <ul id="properties" class="list buttons">
                @foreach (string property in Model.Template.Properties)
                {
                    <li><span>@property</span><button class="btn delete right remove-region"></button></li>
                }
            </ul>
            <div class="input">
                <input id="po_name" type="text" placeholder="@Template.PropertyPlaceholder" /></div>
            <button id="po_add" class="btn right">@Global.Add</button>
            <div class="clear"></div>
        </div>
    </div>
</div>
@{ Html.EndForm(); }